# LLM 
LLM_BASE_URL=
LLM_API_KEY=
LLM_MODEL=

# MLFLOW
MLFLOW_TRACKING_URI=
MLFLOW_EXPERIMENT_NAME=
MLFLOW_SUPPRESS_PRINTING_URL_TO_STDOUT=
MLFLOW_LOGGING_LEVEL=

# WORKING DIR - for agent temp working files
WORKING_PATH=

# AGENT MEMORY
CHECKPOINTER_PATH=


# RAG
CHROMADB_PATH=
RAW_DOCS_PATH=

# HUEY
HUEY_QUEUE_PATH=

# PROMPT
PROMPT_PATH=

# TOOL: google_search
SERPER_URL=
SERPER_API_KEY=

# SKILL
SKILL_PATH=

