# LLM 
LLM_BASE_URL=
LLM_API_KEY=
LLM_MODEL=

# WORKING DIR - for agent temp working files
WORKING_PATH=

# AGENT MEMORY
CHECKPOINTER_PATH=


# RAG
CHROMADB_PATH=
RAW_DOCS_PATH=

# HUEY
HUEY_QUEUE_PATH=

# PROMPT
PROMPT_PATH=


