langchain>=0.3.0
langchain-openai>=0.2.0
langchain-core>=0.3.0
langgraph-checkpoint-sqlite>=2.0.0
rich
mlflow>=3.12.0
huey
chromadb
langchain-chroma
langchain-huggingface
sentence-transformers
langchain-text-splitters
rank_bm25
pypdf